<p>You're completing an out-of-band request. Enter the OAuth Verifier PIN code your received from the service provider below.</p>
<form method="post">
  <input type="text" name="oauth_verifier" size="10">
  <input type="submit" />
</form>

<p>If you need to get out of OOB flow, <a href="/the_dance/cancel_oob">click here</a>.</p>