<h1>Take a bow!</h1>
<p>You've completed the OAuth Dance for <%= @service_provider.label %>!</p>
<p>Your new access token:</p>
<table>
  <tr>
    <th>Token</th><td><%=@access_token.oauth_token%></td>
  </tr><tr>
    <th>Secret</th><td><%=@access_token.oauth_token_secret%></td>
  </tr>
</table>