input[type="text"], textarea { width: 400px;}
body {
	background: black;
	font-family: "Trebuchet MS", Verdana, serif;
	color:white;
}

div#header, div#header h1, div#header a { color:red; font-size: 1.3em; }
h1 { font-size: 1.3em;}
h2 { font-size: 1.2em;}
h3 { font-size: 1.1em; }
a, a:visited, a:hover { color: white;}
div#ghost-trap { background-color: black; color:white; margin-top: 15px;}

table { border: 1px solid #d4d4d4;}
table tr { vertical-align: top;}
table th { font-weight: bold; text-align: left; padding: 2px 2px 2px 2px;}
table td { text-align: left; padding: 2px 2px 2px 2px;}

div.api_result { margin-left: 10px; margin-bottom:10px;}

div#home-instructions { 
	position: relative; 
	background: black url("/images/oauth-dance.jpg") no-repeat fixed top left;
	width: 100%;
	height: 595px;
	color:white; 

}

div#home-instructions span {
	width: 100%;
	background: black;
	color:white;
	width: auto;
	padding-left: 5px;
	padding-right: 5px;
}