<h1>Listing access_tokens</h1>

<table>
  <tr>
    <th>Label</th>
    <th>Oauth token</th>
    <th>Oauth token secret</th>
    <th>Service provider</th>
  </tr>

<% @access_tokens.each do |access_token| %>
  <tr>
    <td><%=h access_token.label %></td>
    <td><%=h access_token.oauth_token %></td>
    <td><%=h access_token.oauth_token_secret %></td>
    <td><%=h access_token.service_provider_id %></td>
    <td><%# link_to 'Show', service_provider_access_token %></td>
    <td><%# link_to 'Edit', edit_service_provider_access_token(access_token) %></td>
    <td><%# link_to 'Destroy', service_provider_access_token, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%# link_to 'New access_token', new_access_token_path %>