<h1>Service Providers</h1>
<p>
	These are specific service providers combined with the consumer key and secret you use to access that service provider. Any OAuth 1.0A-compliant service provider should work here.
</p>

<% unless @service_providers.empty? %>
  <table>
    <thead>
      <tr>
        <th>Label</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>
    <tbody>
  <% @service_providers.each do |service_provider| %>
      <tr>
        <td><%=h service_provider.label %></td>
        <td><%= link_to 'Edit', edit_service_provider_path(service_provider) %></td>
        <td><%= link_to 'Destroy', service_provider, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
  </table>
<% else %>
  <p><strong>No Service Providers Yet</strong></p>
<% end %>
<br />

<%= link_to 'Create a new Service Provider', new_service_provider_path %>